html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: hsl(304.28999999999996 36.84% 7.45%);
    color: white;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    min-height: calc(100% - 3rem);
}

h1,
h2 {
    text-align: center;
    flex: 0 0 100%;
    font-family: "Montserrat", sans-serif;
}

.volume {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sounds {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    margin: auto;
    min-width: 1200px;
    justify-content: center;
}

.button-wrap {
    flex: 0 0 25%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

button {
    font-family: "Montserrat", sans-serif;
    flex: 0 0 calc(100% - 1rem);
    background-color: hsl(305 37.5% 12.55%);
    color: white;
    border: 2px solid hsl(305 37.5% 12.55%);
    border-radius: .5rem;
    cursor: pointer;
    user-select: none;
    font-size: large;
    min-height: 80px;
}

button:hover {
    background-color: hsl(305.5799999999999 37.39% 22.55%);
}

input {
    cursor: pointer;
    position: relative;
    top: 2px;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 2rem;
    margin-top: 1rem;
}

a {
    color: hsl(252.48000000000002 95.42% 74.31%);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media screen and (max-width: 1200px) {

    .sounds {
        flex: 80%;
        min-width: 0px;
    }

    .button-wrap {
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 600px) {

    .button-wrap {
        flex: 0 0 90%;
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: hsl(305.5799999999999 37.39% 22.55%);
    height: 1rem;
    width: 1rem;
    margin-top: -.25rem;
    border-radius: 50%;
}

input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 15rem;
 }
 

 input[type="range"]:focus {
   outline: none;
 }
 

 input[type="range"]::-webkit-slider-runnable-track {
    background-color: white;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; 
    appearance: none;
    height: 1rem;
    width: 1rem;
    margin-top: -.25rem;
    border-radius: 50%;
    background-color: hsl(305.5799999999999 37.39% 22.55%);
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: none;
   outline: none;
 }
 
 input[type="range"]::-moz-range-track {
    background-color: white;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 
 input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0; 
    background-color: hsl(305.5799999999999 37.39% 22.55%);
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb {
    border: none;
    outline: none;
 }
 